.jumbotron {
  background-image: radial-gradient(
    circle 933px at 51.3% 121.7%,
    rgba(13, 12, 12, 1) 24.9%,
    rgba(187, 187, 187, 1) 84.8%
  );
  color: #fff;
  text-align: center;
  border-radius: 0px;
}

.brand-icon {
  width: 150px;
  align-items: baseline;
  font-size: 150px;
  margin: 0px 20px;
  color: rgb(255, 238, 0);
}
#title {
  font-variant: small-caps;
}
.first_letter {
  color: rgb(255, 238, 0);
}
