.jumbotron {
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  color: #fff;
  text-align: center;
  border-radius: 0px;
  border-bottom: 2px solid orange;
}

.brand-icon {
  font-size: 90px;
  margin: 0px 10px;
  color: orange;
}
.img-fluid {
  float: left;
  width: 30vw;
}
